fastapi
uvicorn
sqlalchemy
pymysql
alembic
pydantic
httpx==0.24.1
pytest-mock
pytest
pytest-asyncio
pytest-cov
requests
python-multipart
python-jose
passlib[bcrypt]
pika
ffmpeg-python
fastapi
jwt
python-dotenv